<!DOCTYPE html>
<html>
<head>
    <title>Razor Pages</title>
</head>
<body>
    <header>
        <partial name="Shared/PartialView/NavMenuPartial" />     
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>