<style>
    .menu-lista {
        list-style: none;
        padding-left: 0px;
    }

    .menu-lista li a{
        color: black;
        text-decoration: none
    }

        .menu-lista li a:hover {
            color: red;
            font-weight: 400;
        }
</style>

<ul class="menu-lista">
    <li>        
        <a asp-page="Index">Home</a>
    </li>
    <li>
        <a asp-page="Categories">Categorias</a>
    </li>
    <li>
        <a asp-page="About">Sobre</a>
    </li>
    <li>
        <a asp-page="Login">Login</a>
    </li>
</ul>