/* _content/RazorApp/Pages/About.cshtml.rz.scp.css */
h1[b-6t86mag39u] {
    color: red;
}
/* _content/RazorApp/Pages/Login.cshtml.rz.scp.css */
h1[b-la9mrmlw3o] {
    color: green;
}
p[b-la9mrmlw3o] {
    font-size: 28px;
}
